In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [3]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/MySQL80"

In [4]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/MySQL80)

In [6]:
df = pd.read_csv('Data/data.csv')
df

,First Name,Last Name,Email,Book Title,Book Author
0,John,Doe,JD@books.com,The Shining,Stephen King
1,John,Doe,JD@books.com,It,Stephen King
2,John,Doe,JD@books.com,The Great Gatsby,F. Scott Fitzgerald
3,Robin,Smith,Robin@books.com,The Call of the Wild,Jack London
4,Robin,Smith,Robin@books.com,Pride and Prejudice,Jane Austen
5,Gloria,Rodriguez,grodriguez@books.com,Pride and Prejudice,Jane Austen
6,Gloria,Rodriguez,grodriguez@books.com,Frankenstein,Mary Shelley

In [ ]:
q = """SELECT * FROM customer;"""
pd.read_sql(q, engine)